pyrogram==2.0.106
py-tgcalls==2.2.8
tgcrypto==1.2.5
yt-dlp==2025.10.22
youtube-search-python==1.4.6
aiohttp==3.9.4
python-dotenv==1.0.0
ffmpeg-python==0.2.0
requests==2.31.0
aiofiles==23.1.0
python-arq==6.0.7
gTTS==2.5.4
googletrans==4.0.0rc1
wget==3.2
pysocks==1.7.1
pyaes==1.6.1
